:root{
    --heading-font-family:"Playfair Display", serif;
    --other-text-font-family: "Poppins", sans-serif;
    --background-color:#F9F7FE;
}
h2{
    font-family: var(--heading-font-family);
    font-size:30px;
    line-height:25px;
    font-weight: 600;
}
p{
    font-family: var(--other-text-font-family);
    line-height: 30px;
    font-size: 16px;
}
h1{
    font-size: 40px;
    font-family: var(--heading-font-family);
    line-height: 80px;
    font-weight: 900;
}


.navigation-link{
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
}
.navigation-link:hover{
    color:#6C63FF;
    
}
.logo{
    font-family: var(--other-text-font-family);
    font-style: italic;
    font-weight: 200;
}
.hero{
    background-color: #F9F7FE;
    padding:90px 20px;
}
.hero h1{
    font-size: 96px;
    font-family: var(--heading-font-family);
}
.hero p{
    font-size: 36px;
    font-family: var(--other-text-font-family);
}
 .link-btn{
    display:inline-block;
    text-decoration: none;
    background-color:#6C63FF; 
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
    margin: 20px;
    transition: all 200ms ease-in-out;

 }
 .link-btn:hover{
    color: #6C63FF;
    background-color: white;
    border: 1px solid #6C63FF;
 }
 .project-wrapper{
    margin:0 auto;
 }
 
 .contact-section{
    display:flex;
    justify-content:space-between;
    background-color: var(--background-color);
    border-radius: 4px;
    margin:0 30px;
    padding:20px;
    
 }
 
 footer a{
    color: #6C63FF;
    font-size:20px;
    color:black;
    
 }
 .coder a{
    font-size: 14px;
    color:#6C63FF
 }
 .coder{
    font-size: 14px;
    text-align: center;
 }
 .social-links a{
    margin:0 20px;
    background-color: var(--background-color);
    color:#6C63FF;
    border-radius: 50%;
    padding: 12px 18px;
    font-size: 18px;
    transition: all 200ms ease-in-out;
 }
 .social-links a:hover{
    color: var(--background-color);
    background-color: #6C63FF;
 }
.contact-container a{
    color:#6C63FF;
}
 @media(max-width:450px){
   .hero h1{
    font-size: 59px;
   }
   .hero p{
    font-size: 25px;
   }
   .contact-section{
    display:none
   }
 }